-r requirements_common.txt
coverage
# The version of homeassistant used for testing needs to be tightly coordinated with
# pytest-homeassistant-custom-component and homeassistant-stubs
homeassistant==2025.1.2
homeassistant-stubs==2025.1.2
pytest
pytest-aiohttp
pytest-cov
pytest-homeassistant-custom-component==0.13.203
pytest-sugar
pytest-mock
tox
